.form {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  display:grid;
  grid-column: 50px;
  grid-auto-rows: 50px;
  grid-row-gap: 20px;

    .row {
      display:flex;
      flex-direction: column;
    }
    input {
      height: 50px;
      width: 600px;
    }
  }

  .note {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    display:flex;
    flex-direction: column;

    .note-box {
      height: 200px;
      width: 600px;
    }
  }

#neon {
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
  position: relative;
  float:left;
  width: 40%;
  height: 60%;
}

.buttons {
  display: flex;
  flex-direction: column;
  float: right;
  margin-right: 15%;
  margin-top: 10%;
  width: 20%;

  #one {
    height: 30px;
    background-color: white;
  }

  #two {
    margin-top: 20%;
    height: 30px;
    background-color: white;
  }

}
