.body-photo {
    img {
    width: 80%;
    position: relative;
    left: 10%;
    top: 10%;
    right: 10%;
  }
}

footer {
  position: relative;
  bottom: 0;
  left: 5%;
  width: 100%;
  display: flex;

  a {
    font-size: 10px;
  }
}

.logo {
  text-align: center;

  img {
    margin: 0;
    width: 20%;
  }
  p {
    margin: 0;
    font-size: 5%;
  }
}
