.body-photo {
  margin-top: 17%;
  margin-bottom: 10%;
    img {
    width: 80%;
    position: relative;
    left: 10%;
  }
}

#scroll {
  text-align: center;
  #one {
    font-size: 20px;
    font-weight: bold;
    color: $dark-blue;
    margin-top: 0;
    margin-bottom: 0;
  }
  #two {
    font-size: 19px;
    font-weight:normal;
    color: $coral;
    margin-top: -15px;
    margin-bottom: 0;
    opacity: 0.5;
  }
  #three {
    font-size: 18px;
    font-weight:normal;
    color: $teal;
    margin-top: -15px;
    margin-bottom: 0;
    opacity: 0.3;
  }

}

footer {
  margin-top: 10%;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;

  a {
    font-size: 10px;
    margin-top: 10px;
  }
}

.logo {
  text-align: center;

  img {
    margin: 0;
    width: 20%;
  }
  p {
    margin: 0;
    font-size: 5%;
  }
}

.social-media {
  display: flex;
  justify-content: space-between;

  img {
    width: 20px;
    height: 20px;
  }
}
